In [1]:
import pandas as pd
import numpy as np

In [6]:
status = pd.read_csv("../data/financials/status_test1000.csv")

In [7]:
status.head()

,company,id,status,actual_status,remark,default_date
0,DÄLDEHÖG POLAND SP. Z.O.O.,5020618400,aktivt,aktivt,NaN,NaN
1,Skandinaviska Klimatsmarta Hem AB,5592563935,aktivt,aktivt,NaN,NaN
2,Lily Properties AB,5590655865,aktivt,aktivt,NaN,NaN
3,LAROS INGARÖ AB,5592597990,aktivt,aktivt,NaN,NaN
4,Fogdetorps El Aktiebolag,5564709904,aktivt,Registrerad,NaN,NaN

In [8]:
status.shape

(1000, 6)

In [9]:
status_par = pd.read_csv("../data/financials/status_test_par1000.csv")

In [10]:
status_par.head()

,company,id,status,actual_status,remark,default_date
0,DÄLDEHÖG POLAND SP. Z.O.O.,5020618400,aktivt,aktivt,NaN,NaN
1,Skandinaviska Klimatsmarta Hem AB,5592563935,aktivt,aktivt,NaN,NaN
2,Lily Properties AB,5590655865,aktivt,aktivt,NaN,NaN
3,LAROS INGARÖ AB,5592597990,aktivt,aktivt,NaN,NaN
4,Fogdetorps El Aktiebolag,5564709904,aktivt,Registrerad,NaN,NaN

In [11]:
status_par.shape

(1000, 6)

In [20]:
all(status == status_par)

True

In [14]:
fin = pd.read_csv("../data/financials/fin_test1000.csv")

In [15]:
fin_par = pd.read_csv("../data/financials/fin_test_par1000.csv")

In [16]:
fin.shape

(990, 36)

In [17]:
fin_par.shape

(990, 36)

In [19]:
all(fin == fin_par)

True