In [1]:
import pandas as pd
import numpy as np

## Testing on company 1 just for speed sake

In [2]:
# reading in data
company1 = pd.read_csv('../data/company1.csv')

In [3]:
company1.tail()

       company_no                  company_name
36291  5567547392               Järfälla Rör AB
36292  5569112385       Swemål Bygg & Måleri AB
36293  5569910986                    Go Team AB
36294  5568060510               T & P All el AB
36295  5569980161  Golvbevakning i Stockholm AB

In [4]:
company1['company_name'].nunique()

36187

In [5]:
company1['company_no'].nunique()

32288

Looks like there are some duplicates.

In [6]:
company1[company1.duplicated(['company_no','company_name'],keep=False)].sort_values(by=['company_name']).head(6)

       company_no                 company_name
13     302370XXXX           APSEGA; ALGIMANTAS
2036   302370XXXX           APSEGA; ALGIMANTAS
25797  560105XXXX          Akalla lås 14 15 16
21847  560105XXXX          Akalla lås 14 15 16
605    302336XXXX  BANASZEWSKI; RADOSLAW PIOTR
1975   302336XXXX  BANASZEWSKI; RADOSLAW PIOTR

In [7]:
company1[company1['company_name']=="WOJCIECHOWSKI; RAFAL"]['company_no'].nunique()

2

In [8]:
# does the same company name have the same ID always NO
b = True
for name in company1['company_name'].unique():
    # get all rows with the same id
    ids = company1[company1['company_name'] == name]['company_no'].nunique()
    if ids == 1:
        continue
    else:
        b = False
        print(company1[company1['company_name'] == name])
        break
b

      company_no          company_name
300   302383XXXX  WOJCIECHOWSKI; RAFAL
315   302328XXXX  WOJCIECHOWSKI; RAFAL
1969  302328XXXX  WOJCIECHOWSKI; RAFAL

False

## Get all the data

In [11]:
rows = 0
company1 = pd.read_csv('../data/company1.csv',
                              encoding='utf-8')
print(company1.shape)
rows += company1.shape[0]
company2 = pd.read_csv('../data/company2.csv',
                              encoding='utf-8')
print(company2.shape)
rows += company2.shape[0]
company3 = pd.read_csv('../data/company3.csv',
                              encoding='utf-8')
print(company3.shape)
rows += company3.shape[0]
company46 = pd.read_csv('../data/company4-6.csv',
                              encoding='utf-8')
print(company46.shape)
rows += company46.shape[0]
company710 = pd.read_csv('../data/company7-10.csv',
                              encoding='utf-8')
print(company710.shape)
rows += company710.shape[0]
company1115 = pd.read_csv('../data/company11-15.csv',
                              encoding='utf-8')
print(company1115.shape)
rows += company1115.shape[0]
company1621 = pd.read_csv('../data/company16-21.csv',
                              encoding='utf-8')
print(company1621.shape)
rows += company1621.shape[0]

print(f"Total rows {rows}")

(36296, 2)
(20483, 2)
(15335, 2)
(15079, 2)
(16301, 2)
(16777, 2)
(13931, 2)
Total rows 134202

In [12]:
companies = pd.DataFrame({'company_no':[],'company_name':[]})

In [13]:
companies = companies.append(company1, ignore_index=True)
companies = companies.append(company2, ignore_index=True)
companies = companies.append(company3, ignore_index=True)
companies = companies.append(company46, ignore_index=True)
companies = companies.append(company710, ignore_index=True)
companies = companies.append(company1115, ignore_index=True)
companies = companies.append(company1621, ignore_index=True)
companies.shape

(134202, 2)

## Add base companies to the dataset

In [14]:
sample_companies = pd.read_csv("../../../../project_overview_sample_data/drive-download-20201127T093101Z-001/List of Base Companies.csv",
                              encoding='ISO-8859-1')
sample_companies['company_no'] = sample_companies['company_no'].astype(str)
print(sample_companies.shape)

(15534, 2)

In [15]:
sample_companies = sample_companies.drop_duplicates(subset=['company_no','company_name'])

In [16]:
new_companies = sample_companies[~sample_companies['company_no'].isin(companies['company_no'].unique())]

In [17]:
new_companies.shape

(1797, 2)

In [18]:
companies = companies.append(new_companies, ignore_index=True)

In [19]:
companies.shape

(135999, 2)

In [20]:
companies.tail()

        company_no         company_name
135994  7704087316           1,2,3 Bygg
135995  5567148720        2Nd Planet AB
135996  5565409173  3L Måleri i Umeå AB
135997  5590056932          321 Bygg AB
135998  5568297674        83Ans Bygg AB

In [21]:
companies['company_name'].nunique()

133749

In [22]:
companies['company_no'].nunique()

101868

## Checking how many of the companies end in XXXX (this will make it hard scrape the financial data)

In [23]:
count = 0
for i in range(companies.shape[0]):
    suffix = companies.iloc[i]['company_no'][-4:]
    if suffix == 'XXXX':
        count += 1
count

53632

In [24]:
# removing duplicated rows
companies = companies.drop_duplicates(subset=['company_no','company_name'])

In [25]:
companies.shape

(135879, 2)

In [27]:
companies['company_name'].nunique()

133749

In [28]:
companies['company_no'].nunique()

101868

## Creating the dataset with all the companies that end in XXXX
This is used by the companies_xs spider to collect their ID and name information. This was then used to check how many of these companies had financials.

In [29]:
count = 0
names = []
numbers = []
for i in range(companies.shape[0]):
    suffix = companies.iloc[i]['company_no'][-4:]
    if suffix == 'XXXX':
        names.append(companies.iloc[i]['company_name'])
        numbers.append(companies.iloc[i]['company_no'])
        count += 1
count

53512

In [30]:
xs = pd.DataFrame({'company_no':numbers,'company_name':names})

In [31]:
xs.shape

(53512, 2)

In [32]:
xs.head(5)

   company_no             company_name
0  302363XXXX      KONIECZNY; WOJCIECH
1  302364XXXX    KREZOLEK; MARCIN OLAF
2  302371XXXX   JANECZKO; MONIKA MARIA
3  800817XXXX  R.Ny bygg & entreprenad
4  880613XXXX           Habram; Gustaf

In [33]:
#xs.to_csv('../data/XS.csv')

## Checking the number of XXXX companies that have financials

### reading in the data

In [34]:
f2000 = pd.read_csv("../data/first2000.csv")

In [35]:
s2000 = pd.read_csv("../data/second2000.csv")

In [36]:
l500 = pd.read_csv("../data/last500.csv")

In [37]:
sl500 = pd.read_csv("../data/secondlast500.csv")

In [38]:
tl500 = pd.read_csv("../data/thirdlast500.csv")

## Checking the number of mis-matches
A mis-match is where the first few digits of a companies XXXX ID, does not match the first few digits of the actual ID. This was caused by a delay in the collecting of the new ID. The spider has resolved this now as you can see the last financials collection does not contain any mis-matches.

In [39]:
f2000.shape

(1692, 3)

In [40]:
l500.shape

(264, 3)

In [41]:
def count_mismatched(df):
    c = 0
    for i in range(df.shape[0]):
        row = df.iloc[i]
        sudo_num = row['company_no']
        num = row['company_no_real']
        if sudo_num[:6] != num[:6]:
            c += 1
            f2000.drop
    return c

In [42]:
count_mismatched(f2000)

141

In [43]:
count_mismatched(s2000)

171

In [44]:
count_mismatched(l500)

0

In [45]:
count_mismatched(sl500)

0

In [46]:
count_mismatched(tl500)

0

## Checking the number of XXXX compnaies that have financials

In [47]:
def count_companies(df):
    count = 0
    for row in df['company'].unique():
        name = row.lower()
        for j in range(xs.shape[0]):
            row2 = xs.iloc[j]
            name2 = row2['company_name'].replace(";",",").lower()
            if name == name2:
                count += 1
                print(count)
                break
                
    return count

In [48]:
fin_first4000 = pd.read_csv("../data/fin_first4000.csv")

In [49]:
count_companies(fin_first4000)

0

In [51]:
# fin_secondthirdlast1000 had no companies
# fin_last500 also had no companies in it

## Calculating the number of companies with XXXX I checked for financials

In [52]:
(f2000.shape[0]-141) + (s2000.shape[0]-171) + l500.shape[0] + sl500.shape[0] + tl500.shape[0]

3596

## Create the dataset with no XXXXs in it

In [53]:
count1 = 0
names1 = []
numbers1 = []
for i in range(companies.shape[0]):
    suffix = companies.iloc[i]['company_no'][-4:]
    if suffix != 'XXXX':
        names1.append(companies.iloc[i]['company_name'])
        numbers1.append(companies.iloc[i]['company_no'])
        count1 += 1
count1

82367

In [54]:
final_companies = pd.DataFrame({'company_no':numbers1, 'company_name':names1})

In [55]:
final_companies.tail()

       company_no         company_name
82362  7704087316           1,2,3 Bygg
82363  5567148720        2Nd Planet AB
82364  5565409173  3L Måleri i Umeå AB
82365  5590056932          321 Bygg AB
82366  5568297674        83Ans Bygg AB

In [56]:
final_companies.shape

(82367, 2)

In [57]:
final_companies['company_no'].nunique()

82337

In [58]:
final_companies['company_name'].nunique()

82358

## Managing duplicates

In [59]:
# there are no duplicates
final_companies[final_companies.duplicated(['company_name','company_no'])]

Empty DataFrame
Columns: [company_no, company_name]
Index: []

In [75]:
#final_companies.to_csv('../data/financials/final_companies.csv')