In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("../data/financials/financials_status_clean1.csv")

In [3]:
forms_0_30 = pd.read_csv("../data/financials/forms_0_30000.csv")

In [4]:
forms_30_ = pd.read_csv("../data/financials/forms_30000_.csv")

In [5]:
forms_rest = pd.read_csv("../data/financials/forms_rest.csv")

In [6]:
forms = forms_0_30.append(forms_30_,ignore_index=True)
forms = forms.append(forms_rest,ignore_index=True)

In [7]:
forms.shape

(68993, 7)

In [8]:
data['id'].nunique()

68995

In [9]:
form_ids = forms['id'].unique()

In [10]:
data.head()

,company,id,date,net_sales,other_sales,op_profit_ebit,prof_after_net_fin_items,results,sub_unpaid_cap,fixed_assets,...,working_cap,solidity_equity_assets_ratio,cash_liquidity_quick_ratio,status_bool,date_diff,default_date,status,actual_status,remark,year
0,Lily Properties AB,5590655865,2019-12,0.0,NaN,-44.0,-44.0,-44.0,0.0,99.0,...,NaN,68.63,57.14,0,NaN,NaN,active,NaN,NaN,2019
1,Lily Properties AB,5590655865,2018-12,0.0,NaN,-72.0,-72.0,-72.0,0.0,130.0,...,NaN,75.13,81.63,0,NaN,NaN,active,NaN,NaN,2018
2,Lily Properties AB,5590655865,2017-12,28.0,NaN,-279.0,-279.0,-279.0,0.0,160.0,...,1282.14,91.23,764.00,0,NaN,NaN,active,NaN,NaN,2017
3,Lily Properties AB,5590655865,2016-12,0.0,NaN,-226.0,749.0,749.0,0.0,801.0,...,NaN,94.22,40.82,0,NaN,NaN,active,NaN,NaN,2016
4,Fogdetorps El Aktiebolag,5564709904,2019-12,0.0,NaN,-62.0,7938.0,7938.0,0.0,8649.0,...,NaN,74.29,269.62,0,NaN,NaN,active,NaN,NaN,2019

In [11]:
forms.head()

,company,id,company_form,county,industry,operation,registered_date
0,Lily Properties AB,5590655865,Aktiebolag,Stockholms lÃ¤n,Bygg-; Design- & Inredningsverksamhet,Byggverksamhet,2016-06-07
1,Fogdetorps El Aktiebolag,5564709904,Aktiebolag,Stockholms lÃ¤n,Bygg-; Design- & Inredningsverksamhet,El-VVS & Bygginstallationer,1993-08-09
2,Ã…rsta Markentreprenad AB,5592051295,Aktiebolag,Stockholms lÃ¤n,Bygg-; Design- & Inredningsverksamhet,AnlÃ¤ggningsarbeten,2019-05-10
3,Sportgolvsgruppen Sverige AB,5568855877,Aktiebolag,Stockholms lÃ¤n,Bygg-; Design- & Inredningsverksamhet,Golv- & VÃ¤ggbelÃ¤ggningsarbeten,2012-02-28
4,J.N. KraftinstallatÃ¶rer Aktiebolag,5591365738,Aktiebolag,Stockholms lÃ¤n,Bygg-; Design- & Inredningsverksamhet,El-VVS & Bygginstallationer,2017-12-01

## Making sure all ids in data are in forms
Missed two inactive companies because they were removed

In [12]:
data[data['id'].isin(form_ids)]['id'].nunique()

68993

In [13]:
data = data[data['id'].isin(form_ids)]

In [14]:
data[data['status_bool']==1]['id'].nunique()

1805

## Adding the form information

In [15]:
data['company_form'] = [np.nan]*data.shape[0]
data['county'] = [np.nan]*data.shape[0]
data['industry'] = [np.nan]*data.shape[0]
data['operation'] = [np.nan]*data.shape[0]
data['registered_date'] = [np.nan]*data.shape[0]

In [16]:
forms.head(1)

,company,id,company_form,county,industry,operation,registered_date
0,Lily Properties AB,5590655865,Aktiebolag,Stockholms lÃ¤n,Bygg-; Design- & Inredningsverksamhet,Byggverksamhet,2016-06-07

In [17]:
data[data['id']==5590168885]

,company,id,date,net_sales,other_sales,op_profit_ebit,prof_after_net_fin_items,results,sub_unpaid_cap,fixed_assets,...,default_date,status,actual_status,remark,year,company_form,county,industry,operation,registered_date
4044,Fastighetsaktiebolaget PostgÃ¥rden AB,5590168885,2019-12,0.0,69.0,69.0,69.0,55.0,0.0,163.0,...,NaN,active,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN
4045,Fastighetsaktiebolaget PostgÃ¥rden AB,5590168885,2017-12,0.0,NaN,-267.0,-270.0,-212.0,0.0,97.0,...,NaN,active,NaN,NaN,2017,NaN,NaN,NaN,NaN,NaN
4046,Fastighetsaktiebolaget PostgÃ¥rden AB,5590168885,2016-12,0.0,NaN,-178.0,-185.0,-146.0,0.0,39.0,...,NaN,active,NaN,NaN,2016,NaN,NaN,NaN,NaN,NaN
4047,Fastighetsaktiebolaget PostgÃ¥rden AB,5590168885,2015-12,0.0,NaN,-30.0,-30.0,-30.0,0.0,0.0,...,NaN,active,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN
4048,Fastighetsaktiebolaget PostgÃ¥rden AB,5590168885,2015-12,0.0,NaN,-30.0,-30.0,-30.0,0.0,150.0,...,NaN,active,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN

In [18]:
comp = data[data['id']==5590655865]

In [19]:
forms[forms['id']==5590168885]

,company,id,company_form,county,industry,operation,registered_date
692,Fastighetsaktiebolaget PostgÃ¥rden AB,5590168885,Aktiebolag,Stockholms lÃ¤n,Bygg-; Design- & Inredningsverksamhet,Byggverksamhet,2015-06-10

In [20]:
comp['company_form'] = comp.shape[0]*list(forms[forms['id']==5590655865]['company_form'])

In [21]:
def add_forms(company_id):
    
    company = data[data['id']==company_id]
    company_form = forms[forms['id']==company_id]
    
    company['company_form'] = company.shape[0]*list(company_form['company_form'])
    company['county'] = company.shape[0]*list(company_form['county'])
    company['industry'] = company.shape[0]*list(company_form['industry'])
    company['operation'] = company.shape[0]*list(company_form['operation'])
    company['registered_date'] = company.shape[0]*list(company_form['registered_date'])

    return company

In [22]:
add_forms(5590168885)

,company,id,date,net_sales,other_sales,op_profit_ebit,prof_after_net_fin_items,results,sub_unpaid_cap,fixed_assets,...,default_date,status,actual_status,remark,year,company_form,county,industry,operation,registered_date
4044,Fastighetsaktiebolaget PostgÃ¥rden AB,5590168885,2019-12,0.0,69.0,69.0,69.0,55.0,0.0,163.0,...,NaN,active,NaN,NaN,2019,Aktiebolag,Stockholms lÃ¤n,Bygg-; Design- & Inredningsverksamhet,Byggverksamhet,2015-06-10
4045,Fastighetsaktiebolaget PostgÃ¥rden AB,5590168885,2017-12,0.0,NaN,-267.0,-270.0,-212.0,0.0,97.0,...,NaN,active,NaN,NaN,2017,Aktiebolag,Stockholms lÃ¤n,Bygg-; Design- & Inredningsverksamhet,Byggverksamhet,2015-06-10
4046,Fastighetsaktiebolaget PostgÃ¥rden AB,5590168885,2016-12,0.0,NaN,-178.0,-185.0,-146.0,0.0,39.0,...,NaN,active,NaN,NaN,2016,Aktiebolag,Stockholms lÃ¤n,Bygg-; Design- & Inredningsverksamhet,Byggverksamhet,2015-06-10
4047,Fastighetsaktiebolaget PostgÃ¥rden AB,5590168885,2015-12,0.0,NaN,-30.0,-30.0,-30.0,0.0,0.0,...,NaN,active,NaN,NaN,2015,Aktiebolag,Stockholms lÃ¤n,Bygg-; Design- & Inredningsverksamhet,Byggverksamhet,2015-06-10
4048,Fastighetsaktiebolaget PostgÃ¥rden AB,5590168885,2015-12,0.0,NaN,-30.0,-30.0,-30.0,0.0,150.0,...,NaN,active,NaN,NaN,2015,Aktiebolag,Stockholms lÃ¤n,Bygg-; Design- & Inredningsverksamhet,Byggverksamhet,2015-06-10

In [ ]:
count = 0
for Id in forms['id'].unique():
    data[data['id']==Id] = add_forms(Id)
    count+=1
    print(count)

In [29]:
#data.to_csv("../data/financials/financials_status_forms_clean.csv",index=False)

In [144]:
data = pd.read_csv("../data/financials/financials_status_forms_clean.csv")

In [63]:
data.shape

(478033, 48)

In [64]:
data['id'].nunique()

68993

In [65]:
data[data['status_bool']==1]['id'].nunique()

1805

# Translating english to sweedish

In [80]:
data['company_form'].nunique()

1

In [81]:
data['county'].nunique()

21

In [82]:
data['industry'].nunique()

21

In [83]:
data['operation'].nunique()

95

In [34]:
translator = Translator()

In [101]:
from google_trans_new import google_translator  
  
translator = google_translator()  
translate_text = translator.translate(np.nan,lang_tgt='en')  
print(translate_text)

male

In [145]:
def translate_columns(columns):
    
    # get all the words that need to be translated
    sweedish_words = []
    for col in columns:
        sweedish_words += list(data[col].unique())
                                                              
    # replace the sweedish words with their english counter part
    translator = google_translator()  
    for word in sweedish_words:
        if type(word)==float:
            continue
        else:
            print(word + " ------> "+translator.translate(word,lang_tgt='en'))
            data.replace(word,translator.translate(word,lang_tgt='en').strip(), inplace=True)

In [146]:
translate_columns(['company_form','county','industry','operation'])

Aktiebolag ------> Limited company
Stockholms lÃ¤n ------> Stockholm County
Uppsala lÃ¤n ------> Uppsala county
Kronobergs lÃ¤n ------> Kronoberg County
Norrbottens lÃ¤n ------> Norrbotten County
SkÃ¥ne lÃ¤n ------> SkÃ¥ne County
Ã–stergÃ¶tlands lÃ¤n ------> Ã–stergÃ¶tland County
VÃ¤stra GÃ¶talands lÃ¤n ------> VÃ¤stra GÃ¶taland County
JÃ¶nkÃ¶pings lÃ¤n ------> JÃ¶nkÃ¶ping County
JÃ¤mtlands lÃ¤n ------> JÃ¤mtland County
VÃ¤stmanlands lÃ¤n ------> VÃ¤stmanland County
Hallands lÃ¤n ------> Halland County
Dalarnas lÃ¤n ------> Dalarna County
Ã–rebro lÃ¤n ------> Ã–rebro County
GÃ¤vleborgs lÃ¤n ------> GÃ¤vleborg County
SÃ¶dermanlands lÃ¤n ------> SÃ¶dermanland County
Kalmar lÃ¤n ------> Kalmar County
Gotlands lÃ¤n ------> Gotland County
VÃ¤sternorrlands lÃ¤n ------> VÃ¤sternorrland County
VÃ¤sterbottens lÃ¤n ------> VÃ¤sterbotten County
Blekinge lÃ¤n ------> Blekinge county
VÃ¤rmlands lÃ¤n ------> VÃ¤rmland County
Bygg-; Design- & Inredningsverksamhet ------> Construction; Design & Interior design business
Fastighetsverksamhet ------> Real estate activities
Juridik; Ekonomi & KonsulttjÃ¤nster ------> Law; Finance & Consulting Services
Bank; Finans & FÃ¶rsÃ¤kring ------> Bank; Finance & Insurance
Transport & Magasinering ------> Transport & Warehousing
FÃ¶retagstjÃ¤nster ------> Business services
Bemanning & ArbetsfÃ¶rmedling ------> Staffing & Employment Agency
Avlopp; Avfall; El & Vatten ------> Drain; Waste; Electricity & Water
Hotell & Restaurang ------> Hotel & Restaurant
Data; IT & Telekommunikation ------> Data; IT & telecommunications
Reklam; PR & MarknadsundersÃ¶kning ------> Advertising; PR & Market Research
Detaljhandel ------> Retail
Utbildning; Forskning & Utveckling ------> Training; Research Development
Partihandel ------> Wholesale
Uthyrning & Leasing ------> Rental & Leasing
Jordbruk; Skogsbruk; Jakt & Fiske ------> Agriculture; Forestry; Hunting & Fishing
Tillverkning & Industri ------> Manufacturing & Industry
Reparation & Installation ------> Reparation & Installation
Teknisk Konsultverksamhet ------> Technical Consulting
Motorfordonshandel ------> Motor vehicle trade
Offentlig fÃ¶rvaltning & SamhÃ¤lle ------> Public Administration & Society
Byggverksamhet ------> Construction activities
El-VVS & Bygginstallationer ------> Electrical plumbing & construction installations
AnlÃ¤ggningsarbeten ------> Construction work
Golv- & VÃ¤ggbelÃ¤ggningsarbeten ------> Floor & wall covering work
Teknisk konsult inom Bygg- & AnlÃ¤ggningsteknik ------> Technical consultant in Construction & Civil Engineering
Utformning av Byggprojekt ------> Design of Construction project
Byggnadssnickeriarbeten ------> Carpentry work
MÃ¥leriarbeten ------> Painting work
Arkitektverksamhet ------> Architectural business
Industri- & Produktdesignverksamhet ------> Industrial & Product Design operations
Puts-; Fasad- & StuckatÃ¶rsarbeten ------> Puts-; Facade & stucco work
Inredningsarkitekt ------> Interior designer
Takarbeten ------> Roofing work
FastighetsfÃ¶rvaltning pÃ¥ uppdrag ------> Property management on assignment
Rivning av hus & byggnader ------> Demolition of houses & buildings
Grafisk Designverksamhet ------> Graphic Design activities
Uthyrning av Bygg- & AnlÃ¤ggningsmaskiner med fÃ¶rare ------> Rental of construction machinery with driver
Slutbehandling av byggnader ------> Finishing of buildings
Redovisning & bokfÃ¶ring ------> Accounting & bookkeeping
MarkundersÃ¶kning ------> MarkundersÃ¶kning
GlasmÃ¤steriarbeten ------> Glazier work
FÃ¶rvaltning & Handel med VÃ¤rdepapper ------> Management & Trading in Securities
Magasinering & Varulagring ------> Warehousing and Warehousing
RengÃ¶ring & LokalvÃ¥rd ------> Cleaning & Cleaning
Webbportaler ------> Web portals
Kongresser & MÃ¤ssor ------> Congresses & Fairs
Personaluthyrning ------> Staffing
Konsultverksamhet avseende fÃ¶retags org. ------> Consultancy relating to corporate org.
VÃ¤gtransport; Godstrafik ------> Road transport; Freight traffic
Avloppsrening ------> Sewage treatment
Restaurangverksamhet ------> Restaurant business
Verksamheter som utÃ¶vas av huvudkontor ------> Activities carried out by head office
Telekommunikation; TrÃ¥dbunden ------> Telecommunication; Wired
Uthyrning & FÃ¶rvaltning av Fastigheter ------> Rental & Management of Real Estate
Direktreklamverksamhet ------> Direct advertising
Handel med egna fastigheter ------> Trading in own properties
Livsmedelshandel ------> Grocery store
Verksamhet utfÃ¶rd av FÃ¶rsÃ¤kringsombud & FÃ¶rsÃ¤kringsmÃ¤klare ------> Business carried out by Insurance Agents & Insurance Brokers
Musik-; Dans- & Kulturell utbildning ------> Music-; Dance & Cultural education
Maskiner & Utrustning Ã¶vriga; Partihandel ------> Machinery & Equipment other; Wholesale
Uthyrning & Leasing Ã¶vrigt ------> Rental & Leasing other
Taxi ------> Taxi
Holdingverksamhet i icke-finansiella koncerner ------> Holding operations in non-financial groups
VÃ¤xtodling ------> Plant cultivation
SkogsskÃ¶tsel ------> Forest management
Metallindustri ------> Metal industry
JÃ¤rn- & VVS- varor; Butikshandel ------> Iron & Plumbing Goods; Retail
Fastighetsrelaterade stÃ¶dtjÃ¤nster ------> Property-related support services
Tobaksvaror; Butikshandel ------> Tobacco products; Retail
TrÃ¤varor; tillverkning ------> Timber; manufacturing
Mineralutvinning; Ã¶vrig ------> Mineral extraction; Other
Kontors- & Butiksinred; tillverkning ------> Office & Store Furnishings; manufacturing
Vatten & Avlopp ------> Water & Sewage
Teleprodukter; Partihandel ------> Telecommunications products; Wholesale
Gruv-; Bygg- & AnlÃ¤ggningsmaskiner; Partihandel ------> Mining; Building & Construction Machinery; Wholesale
Icke-farligt avfall ------> Non-hazardous waste
Byggnadsmetallvaror; tillverkning ------> Building metal products; manufacturing
KlÃ¤der & Textilier; tillverkning ------> Clothing & Textiles; manufacturing
SÃ¥gning; Hyvling & Impregnering ------> Sawing; Planing & Impregnation
Maskiner; reparation ------> Machinery; repair
Elektronikkomponenter; Partihandel ------> Electronic components; Wholesale
Teknisk konsult inom Industriteknik ------> Technical consultant in Industrial Technology
Postorder- & Internethandel ------> Mail Order & Internet Trading
FÃ¤rg & Lack; Butikshandel ------> Paint & Varnish; Retail
Parfym & Kosmetika; Partihandel ------> Perfume & Cosmetics; Wholesale
Holdingverksamhet i finansiella koncerner ------> Holding operations in financial groups
Personbilar & LÃ¤tta Motorfordon; Handel ------> Cars & Light Motor Vehicles; Trade
Virke & Byggvaror; Butikshandel ------> Wood & Building Products; Retail
Betong-; Cement- & Gipsvaror; Ã¶vriga ------> Concrete-; Cement & Plastering; others
Kontors- & ButiksmÃ¶ber; tillverkning ------> Office & Store Furniture; manufacturing
Investment- & Riskkapitalbolag ------> Investment & Venture Capital Companies
IT- & DatatjÃ¤nster; Ã¶vriga ------> IT & Data Services; others
MÃ¶bler Ã¶vriga; tillverkning ------> Other furniture; manufacturing
Uthyrning & Leasing av Personbilar & lÃ¤tta Motorfordon ------> Rental & Leasing of Cars & Light Motor Vehicles
Uthyrning & Leasing av Bygg- & AnlÃ¤ggningsmaskiner ------> Rental & Leasing of Building & Construction Machinery
Betongvarutillverkning ------> Concrete product manufacturing
Avfallshantering & Ã…tervinning ------> Waste Management & Recycling
Drivmedel; Detaljhandel ------> Fuel; Retail
RÃ¤lsfordon; tillverkning ------> Rail vehicles; manufacturing
KlÃ¤der & Skor; Partihandel ------> Clothes shoes; Wholesale
Industri- Maskiner & Utrustning; installation ------> Industrial Machinery & Equipment; installation
Uthyrning & Leasing av andra HushÃ¥llsartiklar & Varor fÃ¶r Personligt bruk ------> Rental & Leasing of Other Household Items & Goods for Personal Use
Service till vÃ¤xtodling ------> Service for plant cultivation
MÃ¶bler; HushÃ¥lls- & JÃ¤rnhandelsvaror; Partihandel ------> Furniture; Household & Hardware merchandise; Wholesale
Juridisk verksamhet; Ã¶vrig ------> Legal activities; Other
Virke & Byggmaterial; Partihandel ------> Wood & Building Materials; Wholesale
Drivning ------> Driving
GÃ¶dsel- & KvÃ¤veprodukter; tillverkning ------> Fertilizer & Nitrogen products; manufacturing

Infrastrukturprogram ------> Infrastructure program
Sport- & Fritidsartiklar; Butikshandel ------> Sports & Leisure Articles; Retail
KlÃ¤der; Butikshandel ------> Clothes; Retail
Blandat jordbruk ------> Mixed farming
KÃ¤llsorterat material ------> Source-sorted material
Datoriserad materialhanteringsutr; Partihandel ------> Computerized material handling equipment; Wholesale
Datorer; Program & Kringutr; Partihandel ------> Computers; Program & Kringutr; Wholesale

# Renaming status_bool to default

In [147]:
data.rename(columns={"status_bool":"default"},inplace=True)

In [155]:
data.shape[0]-data[data['industry']=="Construction; Design & Interior design business"].shape[0]

3139

In [154]:
data[data['industry']!="Construction; Design & Interior design business"]['id'].nunique()

454

In [156]:
data['industry'][0]

'Construction; Design & Interior design business'

In [158]:
#data.to_csv("../data/financials/financials_status_forms_clean1.csv",index=False)

In [36]:
data = pd.read_csv("../data/financials/financials_status_forms_clean1.csv")

In [37]:
data.head()

,company,id,date,net_sales,other_sales,op_profit_ebit,prof_after_net_fin_items,results,sub_unpaid_cap,fixed_assets,...,default_date,status,actual_status,remark,year,company_form,county,industry,operation,registered_date
0,Lily Properties AB,5590655865,2019-12,0.0,NaN,-44.0,-44.0,-44.0,0.0,99.0,...,NaN,active,NaN,NaN,2019,Limited company,Stockholm County,Construction; Design & Interior design business,Construction activities,2016-06-07
1,Lily Properties AB,5590655865,2018-12,0.0,NaN,-72.0,-72.0,-72.0,0.0,130.0,...,NaN,active,NaN,NaN,2018,Limited company,Stockholm County,Construction; Design & Interior design business,Construction activities,2016-06-07
2,Lily Properties AB,5590655865,2017-12,28.0,NaN,-279.0,-279.0,-279.0,0.0,160.0,...,NaN,active,NaN,NaN,2017,Limited company,Stockholm County,Construction; Design & Interior design business,Construction activities,2016-06-07
3,Lily Properties AB,5590655865,2016-12,0.0,NaN,-226.0,749.0,749.0,0.0,801.0,...,NaN,active,NaN,NaN,2016,Limited company,Stockholm County,Construction; Design & Interior design business,Construction activities,2016-06-07
4,Fogdetorps El Aktiebolag,5564709904,2019-12,0.0,NaN,-62.0,7938.0,7938.0,0.0,8649.0,...,NaN,active,NaN,NaN,2019,Limited company,Stockholm County,Construction; Design & Interior design business,Electrical plumbing & construction installations,1993-08-09

In [38]:
data.shape

(478033, 48)

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478033 entries, 0 to 478032
Data columns (total 48 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   company                       478033 non-null  object
 1   id                            478033 non-null  int64
 2   date                          478033 non-null  object
 3   net_sales                     474999 non-null  float64
 4   other_sales                   194756 non-null  float64
 5   op_profit_ebit                474998 non-null  float64
 6   prof_after_net_fin_items      474998 non-null  float64
 7   results                       474998 non-null  float64
 8   sub_unpaid_cap                475048 non-null  float64
 9   fixed_assets                  475047 non-null  float64
 10  current_assets                475031 non-null  float64
 11  assets                        474923 non-null  float64
 12  equity                        475034 non-null  float64
 13  untaxed_reserves              475049 non-null  float64
 14  provisions                    475051 non-null  float64
 15  lt_liabilities                475050 non-null  float64
 16  curr_liabilities              475037 non-null  float64
 17  lia_and_equity                474902 non-null  float64
 18  salar_board_ceo               182868 non-null  float64
 19  royalties_board_ceo           39848 non-null   float64
 20  sal_other_empl                285651 non-null  float64
 21  perf_other_empl               41215 non-null   float64
 22  social_exp                    305947 non-null  float64
 23  dividends                     475482 non-null  float64
 24  revenue                       475003 non-null  float64
 25  num_employes                  435120 non-null  float64
 26  net_sales_empl                379854 non-null  float64
 27  pers_cost_empl                377178 non-null  float64
 28  op_prof_ebitda                475375 non-null  float64
 29  net_change                    376635 non-null  float64
 30  du_pont_model                 442006 non-null  float64
 31  prof_margin                   442337 non-null  float64
 32  gross_prof                    442337 non-null  float64
 33  working_cap                   442427 non-null  float64
 34  solidity_equity_assets_ratio  473899 non-null  float64
 35  cash_liquidity_quick_ratio    465687 non-null  float64
 36  default                       478033 non-null  int64
 37  date_diff                     1805 non-null    float64
 38  default_date                  1805 non-null    object
 39  status                        478033 non-null  object
 40  actual_status                 1805 non-null    object
 41  remark                        1805 non-null    object
 42  year                          478033 non-null  int64
 43  company_form                  478033 non-null  object
 44  county                        478033 non-null  object
 45  industry                      476595 non-null  object
 46  operation                     476595 non-null  object
 47  registered_date               478033 non-null  object
dtypes: float64(34), int64(3), object(11)
memory usage: 175.1+ MB

## Dividing columns by 100

In [40]:
# 28 to 36
data.iloc[:,29:36] = data.iloc[:,29:36]/100

# another renaming

In [41]:
#solidity_equity_assets_ratio    --->   solidity
#cash_liquidity_quick_ratio   --->   quick_ratio
data.rename(columns={"solidity_equity_assets_ratio":"solidity"},inplace=True)
data.rename(columns={"cash_liquidity_quick_ratio":"quick_ratio"},inplace=True)

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478033 entries, 0 to 478032
Data columns (total 48 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   company                   478033 non-null  object
 1   id                        478033 non-null  int64
 2   date                      478033 non-null  object
 3   net_sales                 474999 non-null  float64
 4   other_sales               194756 non-null  float64
 5   op_profit_ebit            474998 non-null  float64
 6   prof_after_net_fin_items  474998 non-null  float64
 7   results                   474998 non-null  float64
 8   sub_unpaid_cap            475048 non-null  float64
 9   fixed_assets              475047 non-null  float64
 10  current_assets            475031 non-null  float64
 11  assets                    474923 non-null  float64
 12  equity                    475034 non-null  float64
 13  untaxed_reserves          475049 non-null  float64
 14  provisions                475051 non-null  float64
 15  lt_liabilities            475050 non-null  float64
 16  curr_liabilities          475037 non-null  float64
 17  lia_and_equity            474902 non-null  float64
 18  salar_board_ceo           182868 non-null  float64
 19  royalties_board_ceo       39848 non-null   float64
 20  sal_other_empl            285651 non-null  float64
 21  perf_other_empl           41215 non-null   float64
 22  social_exp                305947 non-null  float64
 23  dividends                 475482 non-null  float64
 24  revenue                   475003 non-null  float64
 25  num_employes              435120 non-null  float64
 26  net_sales_empl            379854 non-null  float64
 27  pers_cost_empl            377178 non-null  float64
 28  op_prof_ebitda            475375 non-null  float64
 29  net_change                376635 non-null  float64
 30  du_pont_model             442006 non-null  float64
 31  prof_margin               442337 non-null  float64
 32  gross_prof                442337 non-null  float64
 33  working_cap               442427 non-null  float64
 34  solidity                  473899 non-null  float64
 35  quick_ratio               465687 non-null  float64
 36  default                   478033 non-null  int64
 37  date_diff                 1805 non-null    float64
 38  default_date              1805 non-null    object
 39  status                    478033 non-null  object
 40  actual_status             1805 non-null    object
 41  remark                    1805 non-null    object
 42  year                      478033 non-null  int64
 43  company_form              478033 non-null  object
 44  county                    478033 non-null  object
 45  industry                  476595 non-null  object
 46  operation                 476595 non-null  object
 47  registered_date           478033 non-null  object
dtypes: float64(34), int64(3), object(11)
memory usage: 175.1+ MB

In [43]:
#data.to_csv("../data/financials/financials_status_forms_clean2.csv",index=False)

In [45]:
data[data['id']==5560004615].iloc[:,28]

93230    10471000.0
93231     5647000.0
93232     6165000.0
93233     8568000.0
93234     7869000.0
93235     7006000.0
93236     7123000.0
93237     5536000.0
93238     9806000.0
93239     6759000.0
Name: op_prof_ebitda, dtype: float64