In [1]:
import numpy as np
import pandas as pd

## Reading in the data

In [2]:
fin_stat = pd.read_csv("../data/financials/financials_and_status.csv")

/home/matt/anaconda3/envs/scrapy/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
fin_stat.head()

,company,id,year,net_sales,other_sales,op_profit_ebit,prof_after_net_fin_items,results,sub_unpaid_cap,fixed_assets,...,gross_prof,working_cap,solidity_equity_assets_ratio,cash_liquidity_quick_ratio,status_bool,date_diff,default_date,status,actual_status,remark
0,Lily Properties AB,5590655865,2019-12,0,-,-44,-44,-44,0,99,...,-,-,68.63%,57.14%,0,NaN,NaN,NaN,NaN,NaN
1,Lily Properties AB,5590655865,2018-12,0,-,-72,-72,-72,0,130,...,-,-,75.13%,81.63%,0,NaN,NaN,NaN,NaN,NaN
2,Lily Properties AB,5590655865,2017-12,28,-,-279,-279,-279,0,160,...,100.00%,1282.14%,91.23%,764.00%,0,NaN,NaN,NaN,NaN,NaN
3,Lily Properties AB,5590655865,2016-12,0,-,-226,749,749,0,801,...,-,-,94.22%,40.82%,0,NaN,NaN,NaN,NaN,NaN
4,Fogdetorps El Aktiebolag,5564709904,2019-12,0,-,-62,7938,7938,0,8649,...,-,-,74.29%,269.62%,0,NaN,NaN,NaN,NaN,NaN

In [4]:
fin_stat.shape

(478042, 42)

In [5]:
fin_stat['id'].nunique()

68995

In [6]:
fin_stat[fin_stat['status_bool']==1].shape

(1807, 42)

## Replacing the dashes with NaNs

In [7]:
columns_not_change = [36,37,38,39,40,41]

In [8]:
for col in fin_stat.columns:
    fin_stat[col].replace("-",np.nan,inplace=True)

## Remove the percentage signs

In [9]:
for col in fin_stat.columns[29:36]:
    fin_stat[col] = fin_stat[col].str[0:-1]

## Converting the object datatypes to floats

In [10]:
for col in fin_stat.columns[3:36]:
    fin_stat[col] = fin_stat[col].astype(float)

## Adding active status so it matches the 0s and 1s

In [11]:
fin_stat['status'].replace(np.nan,'aktivt',inplace=True)

In [12]:
fin_stat.tail()

,company,id,year,net_sales,other_sales,op_profit_ebit,prof_after_net_fin_items,results,sub_unpaid_cap,fixed_assets,...,gross_prof,working_cap,solidity_equity_assets_ratio,cash_liquidity_quick_ratio,status_bool,date_diff,default_date,status,actual_status,remark
478037,83ans Bygg AB,5568297674,2016-04,7114.0,113.0,143.0,141.0,68.0,0.0,52.0,...,44.42,2.74,17.20,117.32,0,NaN,NaN,aktivt,NaN,NaN
478038,83ans Bygg AB,5568297674,2015-04,5657.0,NaN,22.0,20.0,14.0,0.0,0.0,...,40.32,2.30,11.17,112.57,0,NaN,NaN,aktivt,NaN,NaN
478039,83ans Bygg AB,5568297674,2014-04,3078.0,NaN,32.0,31.0,22.0,0.0,0.0,...,50.13,3.80,17.23,120.82,0,NaN,NaN,aktivt,NaN,NaN
478040,83ans Bygg AB,5568297674,2013-04,2497.0,NaN,16.0,15.0,9.0,0.0,0.0,...,51.58,3.80,15.72,118.89,0,NaN,NaN,aktivt,NaN,NaN
478041,83ans Bygg AB,5568297674,2012-04,2065.0,37.0,52.0,52.0,35.0,0.0,0.0,...,66.30,4.16,20.63,126.38,0,NaN,NaN,aktivt,NaN,NaN

## Date year split

In [20]:
fin_stat_clean = pd.read_csv("../data/financials/financials_status_clean.csv")

In [24]:
fin_stat_clean.rename(columns={"year":"date"},inplace=True)

In [27]:
fin_stat_clean['year'] = fin_stat_clean['date'].str[0:4]

## English translations

In [35]:
fin_stat['status'].replace('aktivt','active',inplace=True)

In [37]:
fin_stat['status'].replace('inaktivt','inactive',inplace=True)

In [40]:
fin_stat['actual_status'].replace('Registrerad','Registered',inplace=True)

In [42]:
fin_stat['actual_status'].replace('inaktivt','inactive',inplace=True)

In [46]:
fin_stat['remark'].replace('Konkurs inledd','Bankruptcy initiated',inplace=True)

In [48]:
fin_stat['remark'].replace('Konkurs avslutad','Bankruptcy completed ',inplace=True)

## Checking and writing

In [15]:
fin_stat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478042 entries, 0 to 478041
Data columns (total 42 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   company                       478042 non-null  object
 1   id                            478042 non-null  int64
 2   year                          478042 non-null  object
 3   net_sales                     475008 non-null  float64
 4   other_sales                   194760 non-null  float64
 5   op_profit_ebit                475007 non-null  float64
 6   prof_after_net_fin_items      475007 non-null  float64
 7   results                       475007 non-null  float64
 8   sub_unpaid_cap                475057 non-null  float64
 9   fixed_assets                  475056 non-null  float64
 10  current_assets                475040 non-null  float64
 11  assets                        474932 non-null  float64
 12  equity                        475043 non-null  float64
 13  untaxed_reserves              475058 non-null  float64
 14  provisions                    475060 non-null  float64
 15  lt_liabilities                475059 non-null  float64
 16  curr_liabilities              475046 non-null  float64
 17  lia_and_equity                474911 non-null  float64
 18  salar_board_ceo               182873 non-null  float64
 19  royalties_board_ceo           39848 non-null   float64
 20  sal_other_empl                285659 non-null  float64
 21  perf_other_empl               41215 non-null   float64
 22  social_exp                    305956 non-null  float64
 23  dividends                     475491 non-null  float64
 24  revenue                       475012 non-null  float64
 25  num_employes                  435129 non-null  float64
 26  net_sales_empl                379863 non-null  float64
 27  pers_cost_empl                377187 non-null  float64
 28  op_prof_ebitda                475384 non-null  float64
 29  net_change                    376642 non-null  float64
 30  du_pont_model                 442015 non-null  float64
 31  prof_margin                   442346 non-null  float64
 32  gross_prof                    442346 non-null  float64
 33  working_cap                   442436 non-null  float64
 34  solidity_equity_assets_ratio  473908 non-null  float64
 35  cash_liquidity_quick_ratio    465696 non-null  float64
 36  status_bool                   478042 non-null  int64
 37  date_diff                     1807 non-null    float64
 38  default_date                  1807 non-null    object
 39  status                        478042 non-null  object
 40  actual_status                 1807 non-null    object
 41  remark                        1807 non-null    object
dtypes: float64(34), int64(2), object(6)
memory usage: 153.2+ MB

In [16]:
fin_stat.shape

(478042, 42)

In [50]:
#fin_stat.to_csv("../data/financials/financials_status_clean.csv",index=False)