In [1]:
import numpy as np
import pandas as pd

# Create the full status and financial datasets

## Creating status dataset

In [11]:
status_0_10000 = pd.read_csv("../data/financials/status_0_10000.csv")
status_10000_20000 = pd.read_csv("../data/financials/status_10000_20000.csv")
status_20000_40000 = pd.read_csv("../data/financials/status_20000_40000.csv")
status_40000_60000 = pd.read_csv("../data/financials/status_40000_60000.csv")
status_60000_ = pd.read_csv("../data/financials/status_60000_.csv")

In [12]:
status_0_10000.shape[0]+status_10000_20000.shape[0]+status_20000_40000.shape[0]+status_40000_60000.shape[0]+status_60000_.shape[0]

81360

In [5]:
status = status_0_10000.append(status_10000_20000,ignore_index=True)
status = status.append(status_20000_40000,ignore_index=True)
status = status.append(status_40000_60000,ignore_index=True)
status = status.append(status_60000_,ignore_index=True)

In [6]:
status.shape

(81360, 6)

In [7]:
status.tail()

,company,id,status,actual_status,remark,default_date
81355,ÖVERTORNEÅ KOMMUN,2120002700,aktivt,aktivt,NaN,NaN
81356,ÖVERTORNEÅ KOMMUN,2120002700,aktivt,aktivt,NaN,NaN
81357,Öxabäcks Måleri Aktiebolag,5561859694,inaktivt,inaktivt,Konkurs avslutad,2019-11-13
81358,2nd Planet AB,5567148720,aktivt,aktivt,NaN,NaN
81359,83ans Bygg AB,5568297674,inaktivt,inaktivt,Konkurs avslutad,2019-09-30

In [8]:
status_60000_.tail()

,company,id,status,actual_status,remark,default_date
21513,ÖVERTORNEÅ KOMMUN,2120002700,aktivt,aktivt,NaN,NaN
21514,ÖVERTORNEÅ KOMMUN,2120002700,aktivt,aktivt,NaN,NaN
21515,Öxabäcks Måleri Aktiebolag,5561859694,inaktivt,inaktivt,Konkurs avslutad,2019-11-13
21516,2nd Planet AB,5567148720,aktivt,aktivt,NaN,NaN
21517,83ans Bygg AB,5568297674,inaktivt,inaktivt,Konkurs avslutad,2019-09-30

## Creating financials dataset

In [8]:
fin_0_10000 = pd.read_csv("../data/financials/fin_0_10000.csv")
fin_10000_20000 = pd.read_csv("../data/financials/fin_10000_20000.csv")
fin_20000_40000 = pd.read_csv("../data/financials/fin_20000_40000.csv")
fin_40000_60000 = pd.read_csv("../data/financials/fin_40000_60000.csv")
fin_60000_ = pd.read_csv("../data/financials/fin_60000_.csv")

In [10]:
fin_0_10000.shape[0]+fin_10000_20000.shape[0]+fin_20000_40000.shape[0]+fin_40000_60000.shape[0]+fin_60000_.shape[0]

481988

In [15]:
financials = fin_0_10000.append(fin_10000_20000,ignore_index=True)
financials = financials.append(fin_20000_40000,ignore_index=True)
financials = financials.append(fin_40000_60000,ignore_index=True)
financials = financials.append(fin_60000_,ignore_index=True)

In [16]:
financials.shape

(481988, 36)

In [17]:
fin_60000_.tail()

,company,id,year,net_sales,other_sales,op_profit_ebit,prof_after_net_fin_items,results,sub_unpaid_cap,fixed_assets,...,net_sales_empl,pers_cost_empl,op_prof_ebitda,net_change,du_pont_model,prof_margin,gross_prof,working_cap,solidity_equity_assets_ratio,cash_liquidity_quick_ratio
128615,83ans Bygg AB,5568297674,2016-04,7114,113,143,141,68,0,52,...,1423,488,147,25.76%,10.42%,2.01%,44.42%,2.74%,17.20%,117.32%
128616,83ans Bygg AB,5568297674,2015-04,5657,-,22,20,14,0,0,...,1886,582,22,83.79%,1.89%,0.39%,40.32%,2.30%,11.17%,112.57%
128617,83ans Bygg AB,5568297674,2014-04,3078,-,32,31,22,0,0,...,1539,516,32,23.27%,4.71%,1.04%,50.13%,3.80%,17.23%,120.82%
128618,83ans Bygg AB,5568297674,2013-04,2497,-,16,15,9,0,0,...,1249,482,16,20.92%,2.68%,0.64%,51.58%,3.80%,15.72%,118.89%
128619,83ans Bygg AB,5568297674,2012-04,2065,37,52,52,35,0,0,...,1033,520,52,-,12.62%,2.52%,66.30%,4.16%,20.63%,126.38%

In [18]:
financials.tail()

,company,id,year,net_sales,other_sales,op_profit_ebit,prof_after_net_fin_items,results,sub_unpaid_cap,fixed_assets,...,net_sales_empl,pers_cost_empl,op_prof_ebitda,net_change,du_pont_model,prof_margin,gross_prof,working_cap,solidity_equity_assets_ratio,cash_liquidity_quick_ratio
481983,83ans Bygg AB,5568297674,2016-04,7114,113,143,141,68,0,52,...,1423,488,147,25.76%,10.42%,2.01%,44.42%,2.74%,17.20%,117.32%
481984,83ans Bygg AB,5568297674,2015-04,5657,-,22,20,14,0,0,...,1886,582,22,83.79%,1.89%,0.39%,40.32%,2.30%,11.17%,112.57%
481985,83ans Bygg AB,5568297674,2014-04,3078,-,32,31,22,0,0,...,1539,516,32,23.27%,4.71%,1.04%,50.13%,3.80%,17.23%,120.82%
481986,83ans Bygg AB,5568297674,2013-04,2497,-,16,15,9,0,0,...,1249,482,16,20.92%,2.68%,0.64%,51.58%,3.80%,15.72%,118.89%
481987,83ans Bygg AB,5568297674,2012-04,2065,37,52,52,35,0,0,...,1033,520,52,-,12.62%,2.52%,66.30%,4.16%,20.63%,126.38%

## Writing them to a file

In [26]:
#status.to_csv("../data/financials/status_full.csv",index=False)

In [27]:
#financials.to_csv("../data/financials/financials_full.csv",index=False)

In [13]:
pd.read_csv("../data/financials/status_full.csv").shape

(81360, 6)

In [14]:
pd.read_csv("../data/financials/financials_full.csv").shape

(481988, 36)