In [1]:
import pandas as pd
import numpy as np

## Testing on company 1 just for speed sake

In [2]:
# reading in data
company1 = pd.read_csv('../data/company1.csv')

In [3]:
company1.tail()

       company_no                  company_name
36291  5567547392               Järfälla Rör AB
36292  5569112385       Swemål Bygg & Måleri AB
36293  5569910986                    Go Team AB
36294  5568060510               T & P All el AB
36295  5569980161  Golvbevakning i Stockholm AB

In [4]:
company1['company_name'].nunique()

36187

In [5]:
company1['company_no'].nunique()

32288

In [6]:
company1[company1.duplicated(['company_no','company_name'],keep=False)].sort_values(by=['company_name']).head(30)

       company_no                 company_name
13     302370XXXX           APSEGA; ALGIMANTAS
2036   302370XXXX           APSEGA; ALGIMANTAS
25797  560105XXXX          Akalla lås 14 15 16
21847  560105XXXX          Akalla lås 14 15 16
605    302336XXXX  BANASZEWSKI; RADOSLAW PIOTR
1975   302336XXXX  BANASZEWSKI; RADOSLAW PIOTR
2028   302350XXXX               BARC; GRZEGORZ
183    302350XXXX               BARC; GRZEGORZ
306    302342XXXX             BETKA; KRZYSZTOF
1987   302342XXXX             BETKA; KRZYSZTOF
427    302350XXXX       BOLIN; DARIUSZ WOCIECH
2023   302350XXXX       BOLIN; DARIUSZ WOCIECH
2000   302346XXXX             BRYLINSKI; JOZEF
158    302346XXXX             BRYLINSKI; JOZEF
1990   302343XXXX         BRZOZOWSKI; ZBIGNIEW
335    302343XXXX         BRZOZOWSKI; ZBIGNIEW
186    302340XXXX         BUCZYNSKI; KAZIMIERZ
1980   302340XXXX         BUCZYNSKI; KAZIMIERZ
463    302340XXXX  CEBULA; KRZYSZTOF SYLWESTER
1907   302340XXXX  CEBULA; KRZYSZTOF SYLWESTER
1962   302280XXXX           CZECHERA; GRZEGORZ
512    302280XXXX           CZECHERA; GRZEGORZ
336    302348XXXX  DABROWSKI; ZBIGNIEW TADEUSZ
2012   302348XXXX  DABROWSKI; ZBIGNIEW TADEUSZ
316    302350XXXX        DOMANSKI; PIOTR JERZY
2022   302350XXXX        DOMANSKI; PIOTR JERZY
523    302351XXXX          DOMIN; JANUSZ PIOTR
2029   302351XXXX          DOMIN; JANUSZ PIOTR
1983   302340XXXX  DOROSZCZYK; JOZEF STANISLAW
620    302340XXXX  DOROSZCZYK; JOZEF STANISLAW

In [7]:
company1[company1['company_name']=="WOJCIECHOWSKI; RAFAL"]['company_no'].nunique()

2

In [8]:
# does the same company name have the same ID always NO
b = True
for name in company1['company_name'].unique():
    # get all rows with the same id
    ids = company1[company1['company_name'] == name]['company_no'].nunique()
    if ids == 1:
        continue
    else:
        b = False
        print(company1[company1['company_name'] == name])
        break
b

      company_no          company_name
300   302383XXXX  WOJCIECHOWSKI; RAFAL
315   302328XXXX  WOJCIECHOWSKI; RAFAL
1969  302328XXXX  WOJCIECHOWSKI; RAFAL

False

## Get all the data

In [9]:
rows = 0
company1 = pd.read_csv('../data/company1.csv',
                              encoding='utf-8')
print(company1.shape)
rows += company1.shape[0]
company2 = pd.read_csv('../data/company2.csv',
                              encoding='utf-8')
print(company2.shape)
rows += company2.shape[0]
company3 = pd.read_csv('../data/company3.csv',
                              encoding='utf-8')
print(company3.shape)
rows += company3.shape[0]
company46 = pd.read_csv('../data/company4-6.csv',
                              encoding='utf-8')
print(company46.shape)
rows += company46.shape[0]
company710 = pd.read_csv('../data/company7-10.csv',
                              encoding='utf-8')
print(company710.shape)
rows += company710.shape[0]
company1115 = pd.read_csv('../data/company11-15.csv',
                              encoding='utf-8')
print(company1115.shape)
rows += company1115.shape[0]
company1621 = pd.read_csv('../data/company16-21.csv',
                              encoding='utf-8')
print(company1621.shape)
rows += company1621.shape[0]

print(f"Total rows {rows}")

(36296, 2)
(20483, 2)
(15335, 2)
(15079, 2)
(16301, 2)
(16777, 2)
(13931, 2)
Total rows 134202

In [10]:
companies = pd.DataFrame({'company_no':[],'company_name':[]})

In [11]:
companies = companies.append(company1, ignore_index=True)
companies = companies.append(company2, ignore_index=True)
companies = companies.append(company3, ignore_index=True)
companies = companies.append(company46, ignore_index=True)
companies = companies.append(company710, ignore_index=True)
companies = companies.append(company1115, ignore_index=True)
companies = companies.append(company1621, ignore_index=True)
companies.shape

(134202, 2)

In [12]:
sample_companies = pd.read_csv("../../../../project_overview_sample_data/drive-download-20201127T093101Z-001/List of Base Companies.csv",
                              encoding='ISO-8859-1')
sample_companies['company_no'] = sample_companies['company_no'].astype(str)
print(sample_companies.shape)

(15534, 2)

In [13]:
sample_companies = sample_companies.drop_duplicates(subset=['company_no','company_name'])

In [14]:
new_companies = sample_companies[~sample_companies['company_no'].isin(companies['company_no'].unique())]

In [15]:
new_companies.shape

(1797, 2)

In [16]:
companies = companies.append(new_companies, ignore_index=True)

In [17]:
companies.shape

(135999, 2)

In [18]:
companies.tail()

        company_no         company_name
135994  7704087316           1,2,3 Bygg
135995  5567148720        2Nd Planet AB
135996  5565409173  3L Måleri i Umeå AB
135997  5590056932          321 Bygg AB
135998  5568297674        83Ans Bygg AB

In [19]:
companies['company_name'].nunique()

133749

In [20]:
companies['company_no'].nunique()

101868

In [21]:
# how many of the companies end in XXXX [this will make it hard scrape the financial data]
count = 0
for i in range(companies.shape[0]):
    suffix = companies.iloc[i]['company_no'][-4:]
    if suffix == 'XXXX':
        count += 1
count

53632

In [22]:
# removing duplicated rows
companies = companies.drop_duplicates(subset=['company_no','company_name'])

In [23]:
companies.shape

(135879, 2)

In [24]:
companies['company_name'].nunique()

133749

In [25]:
companies['company_no'].nunique()

101868

## Creating the dataset with all the companies that end in XXXX

In [26]:
count = 0
names = []
numbers = []
for i in range(companies.shape[0]):
    suffix = companies.iloc[i]['company_no'][-4:]
    if suffix == 'XXXX':
        names.append(companies.iloc[i]['company_name'])
        numbers.append(companies.iloc[i]['company_no'])
        count += 1
count

53512

In [27]:
xs = pd.DataFrame({'company_no':numbers,'company_name':names})

In [28]:
xs.shape

(53512, 2)

In [29]:
xs.head(20)

    company_no              company_name
0   302363XXXX       KONIECZNY; WOJCIECH
1   302364XXXX     KREZOLEK; MARCIN OLAF
2   302371XXXX    JANECZKO; MONIKA MARIA
3   800817XXXX   R.Ny bygg & entreprenad
4   880613XXXX            Habram; Gustaf
5   840708XXXX               Sevara Bygg
6   302338XXXX    JASIEWICZ; DANIEL ADAM
7   302347XXXX        KRAWIEC; STANISLAW
8   302366XXXX             TOKARZ; MAREK
9   302370XXXX        APSEGA; ALGIMANTAS
10  302370XXXX     ANDERSEN; SVEND BÖRJE
11  302382XXXX  JAKUBOWSKI; ADAM KSAWERY
12  000821XXXX                 Alvo Bygg
13  302403XXXX     KULETA; LUKASZ MARCIN
14  771109XXXX           Kvarnlöf; Helén
15  302365XXXX            MÄRTEN; DANIEL
16  302369XXXX    URBANSKI; MARCIN ARTUR
17  302381XXXX    SIWIEC; GRZEGORZ PAWEL
18  640119XXXX             Helli; Martin
19  940330XXXX          SELLERSTRAND VVS

In [30]:
#xs.to_csv('../data/XS.csv')

In [31]:
xs.head().sort_values(by='company_name')

   company_no             company_name
4  880613XXXX           Habram; Gustaf
2  302371XXXX   JANECZKO; MONIKA MARIA
0  302363XXXX      KONIECZNY; WOJCIECH
1  302364XXXX    KREZOLEK; MARCIN OLAF
3  800817XXXX  R.Ny bygg & entreprenad

## Checking the number of XXXX companies that have financials

### reading in the data

In [32]:
f2000 = pd.read_csv("../data/first2000.csv")

In [33]:
s2000 = pd.read_csv("../data/second2000.csv")

In [36]:
l500 = pd.read_csv("../data/last500.csv")

In [45]:
sl500 = pd.read_csv("../data/secondlast500.csv")

In [46]:
tl500 = pd.read_csv("../data/thirdlast500.csv")

### checking the number of mis matches

In [37]:
f2000.shape

(1692, 3)

In [39]:
l500.shape

(264, 3)

In [40]:
def count_mismatched(df):
    c = 0
    for i in range(df.shape[0]):
        row = df.iloc[i]
        sudo_num = row['company_no']
        num = row['company_no_real']
        if sudo_num[:6] != num[:6]:
            c += 1
            f2000.drop
    return c

In [41]:
count_mismatched(f2000)

141

In [42]:
count_mismatched(s2000)

171

In [43]:
count_mismatched(l500)

0

In [47]:
count_mismatched(sl500)

0

In [48]:
count_mismatched(tl500)

0

### Checking the number of XXXX compnaies that have financials

In [110]:
def count_companies(df):
    count = 0
    for row in df['company'].unique():
        name = row.lower()
        for j in range(xs.shape[0]):
            row2 = xs.iloc[j]
            name2 = row2['company_name'].replace(";",",").lower()
            if name == name2:
                count += 1
                print(count)
                break
                
    return count

In [111]:
fin_first4000 = pd.read_csv("../data/fin_first4000.csv")

In [112]:
count_companies(fin_first4000)

0

## Calculating the number of companies with XXXX I checked for financials

In [50]:
(f2000.shape[0]-141) + (s2000.shape[0]-171) + l500.shape[0] + sl500.shape[0] + tl500.shape[0]

3596

## Create the dataset with no XXXXs in it

In [55]:
count1 = 0
names1 = []
numbers1 = []
for i in range(companies.shape[0]):
    suffix = companies.iloc[i]['company_no'][-4:]
    if suffix != 'XXXX':
        names1.append(companies.iloc[i]['company_name'])
        numbers1.append(companies.iloc[i]['company_no'])
        count1 += 1
count1

82367

In [58]:
final_companies = pd.DataFrame({'company_no':numbers1, 'company_name':names1})

In [59]:
final_companies.tail()

       company_no         company_name
82362  7704087316           1,2,3 Bygg
82363  5567148720        2Nd Planet AB
82364  5565409173  3L Måleri i Umeå AB
82365  5590056932          321 Bygg AB
82366  5568297674        83Ans Bygg AB

In [60]:
final_companies.shape

(82367, 2)

In [61]:
final_companies['company_no'].nunique()

82337

In [62]:
final_companies['company_name'].nunique()

82358

In [71]:
# there are no duplicates
final_companies[final_companies.duplicated(['company_name','company_no'])]

Empty DataFrame
Columns: [company_no, company_name]
Index: []

In [69]:
final_companies[final_companies.duplicated(['company_name'],keep=False)].sort_values(by='company_name')

       company_no                                     company_name
35322  5567595490  Byggnadsfirma Rolf Johansson i Hunnebostrand AB
80802  5566620026  Byggnadsfirma Rolf Johansson i Hunnebostrand AB
30456  9697725795                             CR Bygg Handelsbolag
52839  9697860295                             CR Bygg Handelsbolag
22239  5590648803                                JB Mark & Bygg AB
81260  5590643937                                JB Mark & Bygg AB
76577  5565455457                                  Marklunds El AB
81512  5567389084                                  Marklunds El AB
81686  7705800592                           Orda, Slawomir Mikolaj
81685  7705206055                           Orda, Slawomir Mikolaj
18526  5566717418                           Ryds Glas Stockholm AB
81852  5564310034                           Ryds Glas Stockholm AB
82010  5590723556                           Stockholm El-design AB
13077  5569770844                           Stockholm El-design AB
24377  5592119407                                        Tomtec AB
82150  5568760440                                        Tomtec AB
69676  5590047774                                   Tärnaby Rör AB
82175  5566710710                                   Tärnaby Rör AB

In [70]:
final_companies[final_companies.duplicated(['company_no'],keep=False)].sort_values(by='company_no')

       company_no                                       company_name
82338  2120000415  Åtvidabergs kommun - Kultur och Samhällsbyggn ...
82337  2120000415  Åtvidabergs kommun - Korshults Återvinningscen...
82084  2120000563                  Sävsjö kommun - Garage och Förråd
82085  2120000563           Sävsjö kommun - Park och Fastighetsenhet
82086  2120000563             Sävsjö kommun - Tekniska Förvaltningen
82239  2120000571   Vetlanda kommun - Gatuavdelningens Centralförråd
82240  2120000571                    Vetlanda kommun - Trygghetslarm
82213  2120000605                Uppvidinge kommun - Förråd Lenhovda
82214  2120000605               Uppvidinge kommun - Förråd Nottebäck
82215  2120000605                   Uppvidinge kommun - Förråd Åseda
82216  2120000605                 Uppvidinge kommun - Förråd Älghult
82217  2120000605          Uppvidinge kommun - Kommunförråd Lenhovda
82218  2120000605  Uppvidinge kommun - Tekniska Kontoret Avdelnin...
82355  2120000860            Östra Göinge kommun - Tekniska Kontoret
82354  2120000860    Östra Göinge kommun - Kommunförråd och Verkstad
81690  2120000902        Osby kommun - Förrådet Gatukontorets Teknik
81689  2120000902          Osby kommun - Fastighetskontor Expedition
81039  2120001819  Forshaga kommun - Gatukontorets Personal Forshaga
81040  2120001819         Forshaga kommun - Gatukontorspersonal Deje
81502  2120002148  Malung-Sälens kommun - Service och Teknikförva...
81501  2120002148              Malung-Sälens kommun - Kommunförrådet
81464  2120002320         Ljusdals kommun - Lokalkontor Los Tekniska
81465  2120002320      Ljusdals kommun - Lokalkontor Ramsjö Tekniska
81463  2120002320  Ljusdals kommun - Driftavdelning och Förråd Te...
82033  2120002486                  Strömsunds kommun - Förråd Hoting
82030  2120002486     Strömsunds kommun - Centralförråd och Verkstad
82031  2120002486  Strömsunds kommun - Förråd Gäddede och Vattenverk
82032  2120002486               Strömsunds kommun - Förråd Hammerdal
82026  2120002577            Storumans kommun - Kommunförråd Tärnaby
82025  2120002577           Storumans kommun - Kommunförråd Storuman
82359  2120002700             Övertorneå kommun - Hedenäset Förrådet
82358  2120002700                         Övertorneå kommun - Förråd
80959  5562275775                                    Elstenen 100 AB
80960  5562275775                   Elstenen 100 AB - Sba-Elektriska
81560  5563094472                  Mjölby Rör AB - Ödeshögs-Filialen
81557  5563094472                    Mjölby Rör AB - Gränna-Filialen
81558  5563094472                    Mjölby Rör AB - Motala-Filialen
81559  5563094472                  Mjölby Rör AB - Vadstena-Filialen
82039  5563916625                            Styr.It AB - Regelab AB
82038  5563916625                                         Styr.It AB
81788  5564951589                                         Regelab AB
81789  5564951589                       Regelab AB - Energigallerian
81628  5565154993                    Nokas Teknik Öst AB - Linköping
81629  5565154993                     Nokas Teknik Öst AB - Västerås
81630  5565154993                       Nokas Teknik Öst AB - Örebro
81627  5565154993                                Nokas Teknik Öst AB
80877  5567148555             Dala Vatten och Avfall AB - Va/Rör-Avd
80876  5567148555           Dala Vatten och Avfall AB - Gata/Parkavd

In [75]:
final_companies.to_csv('../data/financials/final_companies.csv')